@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.banner {
  background-color: $secondary-color-darkBlack;
}

.banner__item {
  width: 100%;
  aspect-ratio: 16/9;
  object-position: center;
  object-fit: cover;
  display: block;
  margin: auto;

  @include tablet {
    width: 90%;
  }
  @include desktop {
    width: 67%;
  }
}
