@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.banner {
  background-color: $secondary-color-darkBlack;

  @include tablet {
    padding: 0 2.25em;
  }

  @include desktop {
    padding: 0 12em;
  }
}

.banner__item {
  width: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
}
