@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.banner-info {
  &__title {
    border-bottom: 1px solid $secondary-color-mercury;
    padding-bottom: 1em;
    @include header-page;

    @include tablet {
      border-bottom: none;
      padding-bottom: 0;
      @include dt-header-page;
      font-weight: 900;
    }

    @include desktop {
      padding-top: 1em;
    }
  }

  &__container {
    @include body-footer;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $secondary-color-mercury;

    @include desktop {
      padding-right: 1.5rem;
    }
  }

  &__list {
    padding-top: 1em;

    &:nth-child(2) {
      margin-right: 4em;

      @include tablet {
        margin-right: 0;
      }
    }

    &:nth-child(3) {
      @include desktop {
        padding-bottom: 0;
      }
    }

    @include tablet {
      padding-bottom: 1em;
      display: flex;
      align-items: center;
    }
  }

  &__item {
    padding-bottom: 1.22em;
    color: $primary-color-silver;

    @include tablet {
      padding-bottom: 0;
    }

    &--bold {
      color: $primary-color-black;

      @include tablet {
        @include dt-body;
        font-weight: 900;
        margin-right: 2rem;
      }
    }

    &--views {
      background-image: url("../../assets/Icons/views.svg");

      @include modifications;
      background-size: 1.7em;

      @include tablet {
        margin-right: 1.55rem;
        padding-left: 2.25em;
      }
    }

    &--likes {
      background-image: url("../../assets/Icons/likes.svg");

      @include modifications;
    }
  }

  &__description {
    font-size: 0.82rem;
    padding-bottom: 1.22em;

    @include tablet {
      @include dt-body;
      padding: 0.8em 0;
    }

    @include desktop {
      padding-right: 1.5em;
      margin-bottom: 1.75em;
    }
  }
}
