@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-block {
  background-color: $secondary-color-darkBlack;
  @include tablet {
    padding: 0 36px;
  }
  @include desktop {
    padding: 0 210px;
  }
}

.video-block__link {
  width: 100%;
  aspect-ratio: 16/9;
  vertical-align: middle;
}
