@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: 0 1em;
  position: relative;
  margin: 0 auto;
  @include tablet {
    padding: 0.5em 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    width: 85%;
  }

  &__logo {
    background-image: url("../../assets/Logo/BrainFlix-logo.svg");
    height: 25px;
    width: 120px;
    margin: 1em auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet {
      margin-left: 0;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }
  &__input {
    height: 36px;
    width: 240px;
    padding: 0.75em;
    border: 1px solid $secondary-color-mercury;
    border-radius: 4px;
    @include tablet {
      height: 40px;
    }
    &::placeholder {
      color: $primary-color-black;
      @include Label-Button;
      @include tablet {
        @include dt-label-buttons;
      }
    }
  }

  &__button {
    display: block;
    text-transform: uppercase;
    width: auto;
    height: 40px;
    margin: 1.55em 0;
    @include Label-Button;
    background-color: $primary-color-blue;
    color: $primary-color-white;
    border: none;
    border-radius: 4px;
    @include tablet {
      width: 150px;
      padding: 0 32px;
      margin: 0 1.75em;
      @include dt-label-buttons;
    }
    @include desktop {
      margin-right: 3em;
    }
  }
  &__image {
    height: 36px;
    width: 36px;
    object-fit: cover;
    object-position: center;
    vertical-align: middle;
    border-radius: 50%;
    position: absolute;
    right: 1rem;
    top: 2.6rem;
    @include tablet {
      position: static;
      width: 40px;
      height: 40px;
    }
  }
}
