@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
  padding: 0 1em;
  position: relative;
  margin: 0 auto;
  @include tablet {
    padding: 0.5em 2.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    width: 85%;
  }

  &__logo {
    background-image: url("../../assets/Logo/BrainFlix-logo.svg");
    height: 1.6rem;
    width: 7.5rem;
    margin: 1em auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include tablet {
      margin-left: 0;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      align-items: center;
    }
  }
  &__input {
    height: 2.25rem;
    min-width: 240px;
    padding: 0.75em;
    padding-left: 2rem;
    margin-right: 3rem;
    border: 1px solid $secondary-color-mercury;
    border-radius: 4px;
    background-image: url("../../assets/Icons/search.svg");
    background-repeat: no-repeat;
    background-size: 0.9rem;
    background-position: 0.63rem;
    background-color: $secondary-color-alabaster;
    @include tablet {
      height: 2.5rem;
      margin-right: auto;
    }
    &::placeholder {
      color: $primary-color-black;
      @include label-button;
      @include tablet {
        @include dt-label-buttons;
      }
    }
  }

  &__button {
    display: block;
    text-transform: uppercase;
    width: auto;
    height: 2.5rem;
    margin: 1.55em 0;
    background-image: url("../../assets/Icons/upload.svg");
    background-position: 0.63rem;
    background-repeat: no-repeat;
    background-size: 1rem;

    @include label-button;
    background-color: $primary-color-blue;
    color: $primary-color-white;
    border: none;
    border-radius: 4px;
    @include tablet {
      width: 9.4rem;
      padding: 0 2rem;
      margin: 0 1.75em;
      @include dt-label-buttons;
    }
  }
  &__avatar {
    height: 2.25em;
    width: 2.25em;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    position: absolute;
    right: 1em;
    top: 2.6em;
    @include tablet {
      position: static;
      vertical-align: middle;
      width: 2.5em;
      height: 2.5em;
    }
  }
}
