@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Avenir";
}

Body {
  min-width: 320px;
  color: $primary-color-black;
}

li {
  list-style-type: none;
}
