@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video-sidebar {
  @include desktop {
    padding-bottom: 4em;
  }

  &__header {
    @include header-section;
    color: $primary-color-silver;
    margin: 1.5em 0;

    @include tablet {
      @include dt-header-section;
      margin: 1.75em 0;
    }

    @include desktop {
      padding-top: 2.75em;
      margin-top: 0;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 0.7em;
    height: 3.75em;

    &:last-child {
      margin-bottom: auto;
    }

    @include tablet {
      height: 4.38em;
      margin-bottom: 1.4em;
    }
  }

  &__container {
    display: inline-flex;
    text-decoration: none;
    color: $primary-color-black;
  }

  &__link {
    font-size: 0.85rem;
    width: 6.25em;
    height: 100%;
    border-radius: 4px;
    object-position: center;
    object-fit: cover;
    background-color: $secondary-color-mercury;

    @include tablet {
      width: 7em;
    }
  }

  &__detail {
    @include body-footer;
    width: 14em;
    margin-left: 1.1em;
    display: flex;
    flex-direction: column;

    @include tablet {
      @include dt-body;
      width: 13em;
    }
  }

  &__title {
    margin-bottom: auto;

    @include tablet {
      margin-bottom: auto;
    }
  }
}
