@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment-section {
  &__list {
    display: flex;
    border-bottom: 1px solid $secondary-color-mercury;
    @include body-footer;

    @include tablet {
      @include dt-body;
    }

    @include desktop {
      padding-left: 0.91em;

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__avatar {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    margin-top: 1em;
    background-color: $secondary-color-mercury;

    @include tablet {
      width: 2.5rem;
      height: 2.5rem;
      margin-top: 1.8em;
    }
  }

  &__content {
    width: 82%;
    margin-left: 1.2em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;

    @include tablet {
      width: 95%;
      padding: 1.8em 0 1.8em 1.5em;
      margin-left: 0;
    }

    @include desktop {
      padding-right: 1.7em;
      padding-left: 2.2em;
    }
  }

  &__item {
    width: 50%;

    &--cmt {
      width: 100%;
      padding-top: 0.5em;
    }

    &--time {
      text-align: right;
      color: $primary-color-silver;
    }
  }
}
